<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>ProgrammerFoxClub</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<ul>
  <a href="#">
    <li>Information</li>
    <li>Nutrition Store</li>
    <li>Trick Center</li>
  </a>
</ul>
<img src="juniper.png"  width="20%" height="20%" alt=""/>
<p th:text="'This is ' + ${fox.name} + '. Currently living on '   + ${fox.getFoodName()} + ' and ' + ${fox.getDrinkName()} + '. He knows ' + ${fox.getTricksSize()} + ' tricks.'"></p>
<h1>Known Tricks</h1>
<span th:if="${fox.getTricksSize() == 0}">You know no tricks, yet. Go and learn some.</span>
<span th:if="${fox.getTricksSize() > 0}">
      <ul>
        <li th:each="trick : ${fox.tricks}" th:text="${trick}"> </li>
      </ul>
    </span>
</body>
</html>