<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>ProgrammerFoxClub</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<ul>
  <li><a href="/">Information</a></li>
  <li><a href="/nutritionstore">Nutrition Store</a></li>
  <li><a href="/trickcenter">Trick Center</a></li>
</ul>
<p></p>
  <form th:action="@{/addnutrition}" th:object="${fox}" th:method="POST">
    <label>Food</label>
  <select th:field="*{food}">
    <option th:text="Lollipop" th:value="lollipop">Food</option>
    <option th:text="Cheese" th:value="cheese">Food</option>
    <option th:text="Gummybears" th:value="gummybears">Food</option>
  </select>
  <label>Drink</label>
    <select th:field="*{drink}">
    <option th:text="Milk" value="milk">Drink</option>
    <option th:text="Water" value="water">Drink</option>
    <option th:text="Tea" value="tea">Drink</option>
  </select>
    <button type="submit">Change</button>
</form>
</body>
</html>