<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>ProgrammerFoxClub</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<ul>
  <li><a href="/">Information</a></li>
  <li><a href="/nutritionstore">Nutrition Store</a></li>
  <li><a href="/trickcenter">Trick Center</a></li>
</ul>

<form th:action="@{/learntrick}" th:object="${fox}" th:method="POST">
  <label>Trick List</label>
  <select th:field="*{juniperTricks}">
    <option th:text="Make a coffee" th:value="coffee">Trick</option>
    <option th:text="Steal food" th:value="steal food">Trick</option>
  </select>
  <button type="submit">Learn</button>
</form>
</body>
</html>