<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>ProgrammerFoxClub</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<ul>
  <a href="#">
    <li>Information</li>
    <li>Nutrition Store</li>
    <li>Trick Center</li>
  </a>
</ul>
<form method="post" action="/trickcenter">
  <label>Tricks</label>
  <select name="Tricks">
    <option value="Coffee">make a coffee</option>
    <option value="Music">play the piano</option>
    <option value="Sleep">have a nap</option>
  </select>
  <input type="submit" value="Learn"/>
</form>
</body>
</html>