<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:each="character : ${characters}" th:class="${character.name == 'Mufasa'} ? 'King' : ''  "
   th:text="'Index: ' + ${characterStat.index} +', Name: '   + ${character.name} + ', Balance: ' + ${character.balance}  + ', Animal type: ' + ${character.animalType}"></p>
</body>
</html>
