<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:each="character : ${characters}"
   th:if="${character.name == 'Timon'}"
   th:text="'Bad Guy' + ' Index: ' + ${characterStat.index} +', Name: '   + ${character.name} + ', Balance: ' + ${character.balance}  + ', Animal type: ' + ${character.animalType}"></p>
<p th:each="character : ${characters}"
   th:unless="${character.name == 'Timon'}"
   th:text="'Good Guy' + ' Index: ' + ${characterStat.index} +', Name: ' + ${character.name} + ', Balance:
' + ${character.balance} + ', Animal type: ' + ${character.animalType}"></p>
</body>
</html>
